<%= form_with(model: colorizer, local: true) do |form| %>
  <% if colorizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(colorizer.errors.count, "error") %> prohibited this colorizer from being saved:</h2>

      <ul>
        <% colorizer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :background %>
    <%= form.text_field :background %>
  </div>

  <div class="field">
    <%= form.label :font %>
    <%= form.text_field :font %>
  </div>

  <div class="field">
    <%= form.label :frame_style %>
    <%= form.text_field :frame_style %>
  </div>

  <div class="field">
    <%= form.label :font_color %>
    <%= form.text_field :font_color %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
